    body
    {
        background-color: #0af568;
    }

    h1
    {
        color: #cf0c0c;
        background-color: #0af5c6;
    }

    #show_sketch
    {
        float: right;
    }

    canvas
    {
        border: 5px solid #0ac6f5;
        border-radius: 20px;
        animation-name:example;
        animation-duration: 4s;
        margin-top: 50px;
        animation-iteration-count: infinite;
    }

    @keyframes examlpe 
    {
        from{box-shadow : 1px , 1px , 38 px , #0374ff;}
        to{box-shadow : 1px , 1px , 38px , #0374ff;}
    }
    
    p
    {
        padding-top: 10px;
        font-size: 25px;
    }